{% extends 'shared/base.html' %}
{% load static %}

{% block css %}
    <link rel="stylesheet" href="{% static 'styles/agent_detail.css' %}" />
    <link href="https://fonts.googleapis.com/css?family=Roboto+Mono&display=swap" rel="stylesheet">
{% endblock %}

{% block content %}
    {% comment %} <a href="/queries/?bookid={{ book.id }}">Back</a> {% endcomment %}
    
    <h1 class="title">Agent Details</h1>

    <div class="card">
      <div class="card-body">
        <h5>{{ agent.agent_name }}</h5>
        <p> {{ agent.company}}</p>
        <p> {{ agent.email}}</p>
      <form action="{% url 'queriesapp:agent' agent.id %}" method="POST">
        {% csrf_token %}
        <input type="hidden" name="actual_method" value="DELETE">
        <button>Delete</button>
        </form>
      <form action="{% url 'queriesapp:agent_edit_form' agent.id %}" method="GET">
        {% csrf_token %}
      <button>Edit</button>
    </form> 
</form>
</div>
     </div> 
</body>
</html>
{% endblock %}