{% extends 'shared/base.html' %}
{% load static %}

{% block css %}
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'styles/agent_form.css' %}" />
    <link href="https://fonts.googleapis.com/css?family=Roboto+Mono&display=swap" rel="stylesheet">
{% endblock %}

{% block content %}


    {% if agent.id is not None %}
      <h1 class="book_title">Edit Agent</h1>
        <form action="{% url 'queriesapp:agent' agent.id %}" method="post">
    {% else %}
      <h1 class="book_title">New Agent</h1>
    <form action="{% url 'queriesapp:agents' %}" method="post">
    {% endif %}
    {% csrf_token %}
      <div class="card">
        <div class="card-body">
          <label for="Agent's Name">Agent's Name</label>
          <input id="agent_name" type="text" name="agent_name" value="{{ agent.agent_name }}"></br>
          <label for="Agent's Company">Agent's Company</label>
          <input id="company" type="text" name="company" value="{{ agent.company }}"></br>
          <label for="Agent's Email">Agent's Email</label>
          <input id="email" type="text" name="email" value="{{ agent.email }}"></br>
        
        {% comment %} <input type="submit" value="Add It" /> {% endcomment %}

    {% if agent.id is not None %}
            <input type="hidden" name="actual_method" value="PUT">
            <input class="button" type="submit" value="Update" />
        {% else %}
            <input class="button" type="submit" value="Create" />
        {% endif %}
        </div>
        </div>

    </form>
    {% endblock %}
  </body>
</html>