{% extends 'shared/base.html' %}
{% load static %}

{% block css %}
    <link rel="stylesheet" href="{% static 'styles/agents.css' %}" />
    <link href="https://fonts.googleapis.com/css?family=Roboto+Mono&display=swap" rel="stylesheet">
{% endblock %}

{% block content %}

    <h4><a href="/queries/?bookid={{ book_id }}">Queries</a></h4>
    <h1 class="title">Agents</h1>
    <div>
          <form  action="{% url 'queriesapp:agents' %}">
          {% csrf_token %}
          <input name="agent_search" type="search" placeholder="Agent Name or Company Name">
          {% comment %} <button class="search_button" type="submit">Search Agent</button> {% endcomment %}
          </form>
    </div>
    
    
    
    
    
    
    <div>
    <ul>
    {% for agent in all_agents %}
        <li class="agent_div">
            {{agent.agent_name }}
            </br>
            {{agent.company}}
            </br>
            {{agent.email}}
            </br>
          <button><a href="{% url 'queriesapp:agent' agent.id %}" >Details</a></button>
        </li>
    {% endfor %}
    </ul>
    </div>
    {% endblock %}
  </body>
</html>