@font-face{
    font-family:"BaltimoreTypewriterKeys W05 Rg";
    src: url("Fonts/5167505/d21d6e05-4a0a-4604-b2f5-5d5c81fa410c.woff2") format("woff2"),url("Fonts/5167505/0748a2a9-15ec-4b71-ba69-6b46d841b6e7.woff") format("woff");

}


.book_title {
    text-align: center;
    font-size: 75px;
    font-family:"BaltimoreTypewriterKeys W05 Rg";
    margin-top: 75px;
}

.card{
    align-items: center;
    text-align: left;
    margin-left: 425px;
    margin-right: 425px;
    opacity: 200px;
    margin-top: 50px;
    font-family: 'Roboto Mono', monospace;
   
}

.button{
    background-color: tan;
    text-align: center;
    margin-top: 10px;
    color: ivory;
    text-shadow: 2px 2px black;
    width: 75px;
}

.book_div{
    text-align: center;
    align-items: center;
}

input{
    margin-top: 5px;
    width: 250px;
}

.form-group col-md-6{
    align-items: center;
    text-align: center;
}

/* .inner_form {
    border: solid tan 5px;
} */

form{
    align-items: center;
    text-align: center;
    margin-top: 30px;
}