@font-face{
    font-family:"BaltimoreTypewriterKeys W05 Rg";
    src: url("Fonts/5167505/d21d6e05-4a0a-4604-b2f5-5d5c81fa410c.woff2") format("woff2"),url("Fonts/5167505/0748a2a9-15ec-4b71-ba69-6b46d841b6e7.woff") format("woff");

}

.title {
    text-align: center;
    font-size: 75px;
    font-family:"BaltimoreTypewriterKeys W05 Rg";
    margin-top: 35px;
}

.agent_div{
    border: tan solid 1px;
    list-style-type: none;
    background-color: ivory;
    /* box-shadow: 10px 10px 5px grey; */
    width: 400px;
    padding: 5px;
    margin: 10px;
    font-family: 'Roboto Mono', monospace;
    margin-top: 25px;

}

ul li {
    padding: 8px 16px;
    border-bottom: 1px solid #ddd;
  }

button{
    background-color: tan;
    margin-top: 5px;
    margin-bottom: 5px;
}