/* @font-face{
    font-family:"BaltimoreTypewriterKeys W05 Rg";
    src: url("Fonts/5167505/d21d6e05-4a0a-4604-b2f5-5d5c81fa410c.woff2") format("woff2"),url("Fonts/5167505/0748a2a9-15ec-4b71-ba69-6b46d841b6e7.woff") format("woff");

} */

@font-face{
    font-family:"BaltimoreTypewriterKeys W05 Rg";
    src: url("Fonts/5167505/d21d6e05-4a0a-4604-b2f5-5d5c81fa410c.woff2") format("woff2"),url("Fonts/5167505/0748a2a9-15ec-4b71-ba69-6b46d841b6e7.woff") format("woff");
}


.book_logo {
    text-align: center;
    font-size: 85px;
    font-family:"BaltimoreTypewriterKeys W05 Rg";
    margin-top: 75px;
}

a .icon {
    font-family: 'Roboto Mono', monospace;
    color: tan;
    
}

button{
    background-color: tan;
    text-align: left;
    align-items: center !important;
    width: 150px !important;
    margin-left: 20px;
    margin-bottom: 15px;
    color: black;
    
    
}

.laker{
    color: black !important;
    text-shadow: none;
    margin-top: 25px;
}

.icon{
    text-align: center;
    margin-top: 25px;
    color: tan !important;
}

.book_title{
    text-align: center;
}

.book_list{
    text-align: center;
}

.book_drop{
    text-align: center;
}

div .card {
    /* justify-content: center !important; */
    /* margin-left: 485px; */
    text-align: left;
    box-shadow: 5px 10px 8px #888888;
    color: black;
    height: 140px;
    width: 50%  
}

.container {
    display: flex
}







.fas fa-plus-circle{
    margin-top: 250px;
    color: black !important;
}