@font-face{
    font-family:"BaltimoreTypewriterKeys W05 Rg";
    src: url("Fonts/5167505/d21d6e05-4a0a-4604-b2f5-5d5c81fa410c.woff2") format("woff2"),url("Fonts/5167505/0748a2a9-15ec-4b71-ba69-6b46d841b6e7.woff") format("woff");

}


.book_title {
    text-align: center;
    font-size: 75px;
    font-family:"BaltimoreTypewriterKeys W05 Rg";
    margin-top: 75px;
}

.card{
    align-items: center;
    text-align: left;
    margin-left: 200px;
    margin-right: 200px;
    opacity: 200px;
    box-shadow: 5px 10px 8px #888888;
    margin-top: 50px;
    font-family: 'Roboto Mono', monospace;
   
}

h6 a{
    
    background-color: tan;
    margin-top: 18px;
}

h6{
    margin-top: 10px;
}

#sent{
    color: black !important;
}

#expiration{
    color: black !important;
}

.button{
        background-color: tan;
        text-align: center;
        margin-top: 10px;
        color: ivory;
        text-shadow: 1px 1px black;
        width: 85px;
}

.book_div{
    text-align: center;
    align-items: center;
}

input{
    margin-top: 5px;
    width: 250px;
    align-items: center !important;
    color: ivory;
    
    
}

input .button{
    text-shadow: 2px 2px black;
}

.button_agent{
    text-align: center;
    background-color: tan;
    width: 100px;
    
}

.add_agent{
    align-items: center;
    text-align: left;
}


.form-group col-md-6{
    align-items: center;
    text-align: center;
}

/* .inner_form {
    border: solid tan 5px;
} */

form{
    align-items: center;
    text-align: center;
    margin-top: 30px;
}