{% extends 'shared/base.html' %}
{% load static %}

{% block css %}
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'styles/book_form.css' %}" />
    <link href="https://fonts.googleapis.com/css?family=Roboto+Mono&display=swap" rel="stylesheet">
{% endblock %}

{% block content %}
    
    
    <div class="all">
    <div class="book_div">
    {% if book.id is not None %}
      <h1 class="book_title">Edit Book</h1>
      <form action="{% url 'queriesapp:book' book.id %}" method="post">
    {% else %}
      <h1 class="book_title">Add A Book</h1>
    <form action="{% url 'queriesapp:books' %}" method="post">
    {% endif %}
      {% csrf_token %}
    <div class="card">
      <div class="card-body">
        {% comment %} <div> {% endcomment %}
          <label for="book_name">Book:</label>
          <input  id="book_name" type="text"  name="book_name" value="{{book.book_name}}"></br> 
        
          <label for="num_of_pages">Number of Pages:</label>
          <input min="90" id="num_of_pages" type="number" name="num_of_pages" value="{{book.num_of_pages}}"></br>
        
    {% if book.id is not None %}
            <input type="hidden" name="actual_method" value="PUT">
            <input class="button" type="submit" value="Update" />
        {% else %}
            <input class="button" type="submit" value="Create" />
        {% endif %}
        </div>
    {% endblock %}
    {% comment %} {% if book.id is not None %}
      <fieldset>
          <label for="book_name">Book</label>
          <input id="book_name" type="text" name="book_name" value="{{book.book_name}}">
      </fieldset> 
      <fieldset>
          <label for="num_of_pages">Number of Pages: </label>
          <input id="num_of_pages" min="90" type="number" name="num_of_pages" value="{{book.num_of_pages}}">
      </fieldset> {% endcomment %}
      {% comment %} <fieldset>
          <label for="location">Library: </label>
          <select id="location" type="text" name="location">
                {% for library in all_libraries %}
                    <option value="{{ library.id }}">{{ library.title }}</option>
                {% endfor %}
          </select>
      </fieldset> {% endcomment %}
      {% comment %} {% if book.id is not None %}
            <input type="hidden" name="actual_method" value="PUT">
            <input class="button" type="submit" value="Update" />
        {% else %}
            <input class="button" type="submit" value="Create" />
        {% endif %} {% endcomment %}
        {% comment %} </div> {% endcomment %}
         </form>
         
         </div>
        </div> 
      </div>
      




  </body>
</html>  


      {% comment %} test {% endcomment %}
      {% comment %} <form> {% endcomment %}
  {% comment %} <div class="form-group"> {% endcomment %}
    {% comment %} <label for="exampleInputEmail1">Email address</label>
    <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp"> {% endcomment %}
  {% comment %} </div>
  <div class="form-group">
    <label for="exampleInputPassword1">Password</label>
    <input type="password" class="form-control" id="exampleInputPassword1">
  </div> {% endcomment %}
  {% comment %} <div class="form-group form-check">
    <input type="checkbox" class="form-check-input" id="exampleCheck1">
    <label class="form-check-label" for="exampleCheck1">Check me out</label>
  </div> {% endcomment %}
  {% comment %} <button type="submit" class="btn btn-primary">Submit</button>
</form> {% endcomment %}
{% comment %} endtest {% endcomment %}
        