
<!DOCTYPE html>
<html>

  <head>
    <meta charset="utf-8">
    <title>Bangazon</title>
  </head>
  <body>
  {% extends 'shared/base.html' %}

{% block content %}

    {% if book.id is not None %}
      <h1>Edit: {{book}}</h1>
      <form action="{% url 'queriesapp:book' book.id %}" method="post">
    {% else %}
    <form action="{% url 'queriesapp:books' %}" method="post">
    {% endif %}
      {% csrf_token %}
      <fieldset>
          <label for="book_name"></label>
          <input type= "hidden" id="book_name" type="text" name="book_name">
      </fieldset> 
      <fieldset>
          <label for="num_of_pages">Number of Pages: </label>
          <input id="num_of_pages" type="text" name="num_of_pages">
      </fieldset>
      {% comment %} <fieldset>
          <label for="location">Library: </label>
          <select id="location" type="text" name="location">
                {% for library in all_libraries %}
                    <option value="{{ library.id }}">{{ library.title }}</option>
                {% endfor %}
          </select>
      </fieldset> {% endcomment %}
      {% if book.id is not None %}
            <input type="hidden" name="actual_method" value="PUT">
            <input type="submit" value="Update" />
        {% else %}
            <input type="submit" value="Create" />
        {% endif %}

      
    </form>
    {% endblock %}
  </body>
</html>