
{% extends 'shared/base.html' %}
{% load static %}

{% block css %}
    <link rel="stylesheet" href="{% static 'styles/books.css' %}" />
    <link href="https://fonts.googleapis.com/css?family=Roboto+Mono&display=swap" rel="stylesheet">
{% endblock %}

{% block content %}
    
    
<h1 class="book_logo">Queries</h1>
<div class="container">
    <div class="card">
        <div class="card-body">
            {% for book in all_books %}
                <li="list-group-item"><a class="laker" href="/queries?bookid={{book.id}}"> {{book.book_name}}<a></li></br>
            {% endfor %}     
        </div>
            <button class="font"><a href="{% url 'queriesapp:book_form' %}">Add a Book</a></button>
    </div>

    <div class="card">
        <div class="card-body">
            {% for book in all_books %}
                <li="list-group-item"><a class="laker" href="/queries?bookid={{book.id}}"> {{book.book_name}}<a></li></br>
            {% endfor %}     
        </div>
            <button class="font"><a href="{% url 'queriesapp:book_form' %}">Add a Book</a></button>
    </div>
</div>
    
    

{% endblock %}
</body>

</html>