
<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Library</title>
  </head>
  <body>
  {% extends 'shared/base.html' %}

  {% block content %}
  <a href="/queries/?bookid={{ query.book.id }}">Back</a>
    <h1>{{ query.agent.agent_name }}</h1>
    <h1>{{ query.agent.company }}</h1>
    <h2> {{ query.agent.email }}</h2>

    <div>Sent:{{ query.sent }}</div>
    <div>Expires: {{ query.expiration }}</div>
    <div>Notes: {{query.notes}}
    <div>Status: {{query.status}}
    <div>Book: {{query.book}}
  </body>
</html>
<form action="{% url 'queriesapp:query' query.id %}" method="POST">
    {% csrf_token %}
    <input type="hidden" name="actual_method" value="DELETE">
    <button>Delete</button>
</form>
<form action="{% url 'queriesapp:queries_edit_form' query.id %}" method="GET">
    {% csrf_token %}
    <button>Edit</button>
</form>
{% endblock %}

