{% extends 'shared/base.html' %}
{% load static %}

{% block css %}
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'styles/query_form.css' %}" />
    <link href="https://fonts.googleapis.com/css?family=Roboto+Mono&display=swap" rel="stylesheet">
{% endblock %}

{% block content %}
    {% if query.id is not None %}
      <h1 class="book_title">Edit Query</h1>
      <form action="{% url 'queriesapp:query' query.id %}" method="post">
    {% else %}
    <h1 class="book_title">New Query</h1>
      {% comment %} <h3 class="add_agent"<a href="{% url 'queriesapp:agents_form' %}">Add Agent</a></h3> {% endcomment %}
      <form action="{% url 'queriesapp:queries' %}" method="post">
    {% endif %}
      {% csrf_token %}
      
      
   
    <div class="card">
      <div class="card-body">
      
      <fieldset>
      <label for="agent"></label>
        <select id="agent_id" type="text" name="agent_id" value"{{query.agent_id}}">
                {% for agent in all_agents %}
                    <option {% if agent.id == query.agent_id %}selected{% endif %} value="{{ agent.id }}">{{ agent.agent_name}} | {{agent.company}} | {{agent.email}}</option>
                {% endfor %} 
        </select></br>
        <button class="agent"><a href="{% url 'queriesapp:agents_form' %}">Add Agent</a></button>
      </fieldset>
    


      {% comment %} <fieldset>
          <label for="agent_id">Agent: </label>
          <input id="agent_id" type="text" name="agent_id">
      </fieldset> {% endcomment %}
      {% comment %} <fieldset>
          <label for="company">Agent's Company: </label>
          <input id="company" type="text" name="company" value="{{query.agent.company}}">
      </fieldset>  {% endcomment %}
      {% comment %} <fieldset>
          <label for="email">Agent's Email: </label>
          <input id="email" type="text" name="email" value="{{query.agent.email}}">
      </fieldset>  {% endcomment %}
          <label for="agent">Sent Date:</label>
          <input placeholder= "Sent Date" id="sent" type="date" name="sent" value="{{query.sent|date:"Y-m-d"}}"></br>
      
      
        <label for="agent">Deadline to Respond:</label>
          <input placeholder="Deadline to Respond" id="expiration" type="date" name="expiration" value="{{query.expiration|date:"Y-m-d"}}"></br>
        <label for="agent">Notes:</label>
          <textarea class="form-control" id="notes" type="text" name="notes" rows="3">{{query.notes}}</textarea></br>
        
            <label for="agent">Status:</label>
            <select placholder="Status" id="status_id" type="text" name="status_id" value"{{query.status_id}}">
                {% for status in all_statuses %}
                    <option {% if status.id == query.status.id%}selected{% endif %} value="{{status.id}}">{{status.status_name}}</option>
                    {% comment %} <option value="{{status.id}}">{{status.status_name}}</option> {% endcomment %}
                {% endfor %} 
            </select></br>



          {% comment %} <label for="status_id">Status: </label>
          <input type="hidden" id="status_id" type="text" name="status_id" value="{{"1"}}"> {% endcomment %}
      <label for="book">Book:</label>
      <select placeholder="Books" id="book_id" type="text" name="book_id" value"{{query.book_id}}">
                {% for book in all_books %}
                    <option {% if book.id == query.book_id %}selected{% endif %} value="{{ book.id }}">{{ book.book_name}}</option>
                {% endfor %} 
      </select></br>
      {% if query.id is not None %}
            <input type="hidden" name="actual_method" value="PUT">
            <input class="button" type="submit" value="Update" />
        {% else %}
            <button class="agent" type="submit" value="Create">Create</button>
        {% endif %}

      {% comment %} <fieldset>>>>>>>>
          <label for="book_id">Book: <<</label>
          <<<input id="book_id" type="text" name="book_id" value"{{book_id}}">>
        <<<<</fieldset> {% endcomment %}

      {% comment %} {% if query.id is not None %}
            <input type="hidden" name="actual_method" value="PUT">
            <input type="submit" value="Update" />
        {% else %}
            <input type="submit" value="Create" />
        {% endif %}
    </form> {% endcomment %}
    
    </div>
    </div>
    
    {% endblock %}
  </body>
</html>

      