{% extends 'shared/base.html' %}
{% load static %}

{% block css %}
    <link rel="stylesheet" href="{% static 'styles/queries.css' %}" />
    <link rel="stylesheet" href="{% static 'queries.css' %}" />
{% endblock %}

{% block content %}  
    
    <h1>Queries</h1>
    {% if book.id is not null%}
    <a href="{% url 'queriesapp:book' book.id %}">{{book}}</a>
    {% endif %}
    
    </br>
    <a href="/queries/form?bookid={{ book.id }}">Add Query</a>
    
    {% comment %} <a href="{% url 'queriesapp:agents_list' %}">Agent List</a> {% endcomment %}
    <div>
    <h2 class="queries">Pending</h2>
    {% for query in all_queries %}
      {% if query.status.id == 1 %}
          <div>
         <a href="{% url 'queriesapp:query' query.id %}"> {{query.agent.agent_name}}<a>
          </br>
          {{query.agent.email}}
          </br>
          {{query.sent}}-{{query.expiration}}
          </br>
          </div>
          {% endif %}
    {% endfor %}
    
    
    
    <div>
    <h2>FollowUp</h2>
    
    {% for query in all_queries %}
      {% if query.status.id == 2 %} 
      <div>
      <a href="{% url 'queriesapp:query' query.id %}"> {{query.agent.agent_name}}<a>
          </br>
          {{query.agent.email}}
          </br>
          {{query.sent}}-{{query.expiration}}
          </br>
          </div>
      {% endif %}
      {% endfor %}
      
    <h2>Rejected</h2>
    {% for query in all_queries %}
      {% if query.status.id == 3 %}
          <div>
          <a href="{% url 'queriesapp:query' query.id %}"> {{query.agent.agent_name}}<a>
          </br>
          {{query.agent.email}}
          </br>
          {{query.sent}}-{{query.expiration}}
          </br>
          </div>
          {% endif %}
          {% endfor %}

      {% comment %} <a href="{% url 'queriesapp:agents' %}">Agent List</a> {% endcomment %}
      <a href="/agents?bookid={{ book.id }}">Agent List</a>

    </div>
    {% endblock %}
  </body>
</html>