{% comment %} {% load staticfiles %} {% endcomment %}
<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
  </head>
  <body>
    {% comment %} <a href="{% url 'queriesapp:list' %}">Add Book</a> {% endcomment %}

    <h1>Queries</h1>
    <button>Add Query</button>
    <div>
    <h2>Pending</h2>
    {% for query in all_queries %}
          {{query.agent.agent_name}}
          </br>
          {{query.agent.email}}
          </br>
          {{query.sent}}-{{query.expiration}}
          </br>
    {% endfor %}
    </div>
    
    <div>
    <h2>FollowUp</h2>
    
    {% for query in all_queries %}
      {{query.agent.agent_name}}
          </br>
          {{query.agent.email}}
          </br>
          {{query.sent}}-{{query.expiration}}
          </br>
      {% endfor %}
    <h2>Rejected</h2>
    {% for query in all_queries %}
    {{query.agent.agent_name}}
          </br>
          {{query.agent.email}}
          </br>
          {{query.sent}}-{{query.expiration}}
          </br>
          {% endfor %}
    </div>
  </body>
</html>